<form class="signup-container" (ngSubmit)="onSubmit()" #userForm="ngForm">
    <h1 class="center">Sign Up</h1>

    <mat-form-field>
        <input id="name" name="name" type="text" matInput placeholder="Full name" 
        required [(ngModel)]="user.name" #name="ngModel" [ngModelOptions]="{standalone: 
            true}" />
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <mat-error *ngIf="name.errors.required">
                Full name is
                <strong>required</strong>
            </mat-error>
        </div>
    </mat-form-field>

    <mat-form-field>
        <input id="email" name="email" type="text" matInput required placeholder="Email address" [(ngModel)]="user.email" #email="ngModel" [ngModelOptions]="{standalone: true}" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <mat-error *ngIf="email.errors.email">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.errors.required">
                Email is
                <strong>required</strong>
            </mat-error>
        </div>
    </mat-form-field>

    <mat-form-field>
        <input id="password" name="password" type="password" required matInput placeholder="Password" [(ngModel)]="user.password" #name="ngModel" [ngModelOptions]="{standalone: true}" />
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <mat-error *ngIf="password.errors.required">
                Password is
                <strong>required</strong>
            </mat-error>
        </div>
    </mat-form-field>

    <mat-form-field>
        <input id="confirmPassword" name="confirmPassword" required type="password" matInput placeholder="Confirm Password" 
        [(ngModel)]="user.passwordConfirmation" #name="ngModel" [ngModelOptions]="{standalone: true}" />
        <div *ngIf="passwordConfirmation.invalid && (password.dirty || password.touched)">
            <mat-error *ngIf="passwordConfirmation.errors.required">
                Password confirmation is
                <strong>required</strong>
            </mat-error>
        </div>
    </mat-form-field>

    <mat-checkbox required>Agree to
        <a href="#">Terms & Conditions</a>
    </mat-checkbox>

    <button mat-raised-button mat-button color="primary">Register</button>

    <div class="center">Already have an account?
        <a href="">Sign in</a>
    </div>

</form>