<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" opened="false">
        <div class="branding"><img src="logo" alt="logo aca"/><span>Crowdcoding</span></div>
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.close()">Enlace 1</a>
            <a mat-list-item (click)="sidenav.close()">Enlace 2</a>
            <a mat-list-item (click)="sidenav.close()">Enlace 3</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Crowdcoding</span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span>Right Aligned Text</span>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>

    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item>Option 1</button>
        <button mat-menu-item>Option 2</button>
    </mat-menu>
    <router-outlet></router-outlet>
</mat-sidenav-container>