@import '../styles-variables';

.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

body {
    font-family: Roboto, sans-serif;
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: $header;
    width: 100%;
    z-index: 2;
}

mat-sidenav-container, mat-sidenav {
    padding-top: $header;
}

mat-nav-list.nav-list {
    min-width: 200px;
}
