<header>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Crowdcoding</span>
    </mat-toolbar>
</header>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" opened="false">
        <mat-nav-list class="nav-list">
            <a mat-list-item (click)="sidenav.close()" routerLink="/home">Inicio</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="/login">Iniciar Sesión</a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
