.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

body {
    font-family: Roboto, sans-serif;
}

mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

mat-toolbar-row {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.form-container-example {
    display: flex;
    flex-direction: column;
}

.form-container-example > * {
    width: 100%;
}
