* {
    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
    }

    &:active,
    :focus {
        outline: none !important;
    }
}

label {
    margin: 0;
}

html,
body,
mat-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
}
